{% extends 'base.html' %}

{% load static %}

{% block links %}
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}


{% block btns %}
    
{% endblock %}
    

{% block contenido %}
    <section>
        <div class="container"> 
            <!-- Outer Row -->
            <div class="row justify-content-center margen-bar ">
                    <!--  Section Title -->
                    
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="container section-title" data-aos="fade-up">
                        <h2>
                            {% block tituloLogin %}
                                
                            {% endblock tituloLogin %}
                        </h2>
                            
                    </div><!-- End Section Title -->
                    <div class="card  ">
    
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
    
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block carousel-container">
                                    <div class="carousel-text">"Cuida tus pensamientos, porque se convertirán en tus palabras." - Margaret Thatcher</div>
                                        <div class="carousel-text">"No puedes controlar todos los eventos que te suceden, pero puedes controlar cómo reaccionas a ellos." - Epicteto</div>
                                        <div class="carousel-text">"La mente es todo. Lo que piensas, te conviertes." - Buda</div>
                                        <div class="carousel-text">"El mayor enemigo de la salud mental es el estrés constante." - Dinesh Kumar Biran</div>
                                        <div class="carousel-text">"No puedes tener un mañana mejor si no estás dispuesto a dejar ir el ayer problemático." - Desconocido</div>
                                        <div class="carousel-text">"La gratitud es un imán para la felicidad positiva." - Danielle LaPorte</div>
                                        <div class="carousel-text">"No te compares con los demás. Compara tu ayer con tu hoy." - Desconocido</div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <section>
                                            {% block login %}
                                            
                                            {% endblock login %}
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
{% endblock contenido %}


{% block scripts %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}
    