{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Psicosfera | Psicologo
{% endblock %}


{% block btns %}
<li><a href="{% url 'interfaz' %}#directorio" >Directorio</a></li>
<li><a href="{% url 'interfaz' %}#agenda" >Agenda</a></li>
<li><a href="{% url 'interfaz' %}#diario" >Diario</a></li>
{% endblock %}

{% block links %}
  <link rel="stylesheet" type="text/css" href="{% static 'ckeditor/skins/moono-lisa/editor.css' %}">
{% endblock links %}

{% block contenido %}
<section id="directorio" class="service-details">
  <div class="container">
    <div class="container section-title" data-aos="fade-up">
      <h2>Directorio de Pacientes</h2>
    </div><!-- End Section Title -->
    <div class="row gy-5">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="container section-title" data-aos="fade-up">
          <h2>Pacientes</h2>
        </div><!-- End Section Title -->
        <div class="service-box" >
          <div id="myCarousel" class="carousel align-top" >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="services-list" id="pacientes">
                  {% csrf_token %}
                </div>
              </div>
            </div>
          </div>     
        </div><!-- End Services List -->
        <div class="service-box">
          <h4>Descargar detalles</h4>
          <div class="download-catalog">
            <a href="#" id="pdf"><i class="bi bi-filetype-pdf"></i><span>Generar PDF</span></a>
            <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
          </div>
        </div><!-- End Services List -->
      </div> 
        <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box datos-paciente" id="hidden">
          <img src="" id="foto" alt="foto" >
          <h2 class="nombre"></h2>
          <p class="edad"></p>
          <p class="sexo"></p>
          <p class="correo"></p>
          <p class="telefono"></p>
          <p class="direccion"></p>
          <!-- Agrega otros campos que desees mostrar -->
          <div class="container">

                <div class="d-flex">
                  <div>
                    <h5>Notas Compartidas</h5>
                  </div>
                </div>
                <div>
                  {% csrf_token %}
                  <textarea  class="form-control" id="compartidas" cols="30" rows="10" ></textarea>
                </div>
              </div><!-- End testimonial item -->
              <br>
              <input type="submit" class="btn btn-primary" value="Guardar nota"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
        
<section id="agenda" class="service-details">
  <div class="container">  
    <div class="container section-title" data-aos="fade-up">
      <h2>Calendario de citas</h2>
    </div><!-- End Section Title -->
    <div id='calendar'>{% csrf_token %}</div>
  </div>
</section>

<section id="diario">
  
  <div class="diario">
    <div class="container section-title" data-aos="fade-up">
      <h2>Diario Personal</h2>
    </div><!-- End Section Title -->
    {% csrf_token %}
    <textarea name="editor1" class="form-control" id="editor1">{{ diario }}</textarea>
  </div>
  <input onclick="obtenerContenido()" class="btn btn-primary" value="Guardar"></input>

</section>
{% endblock %}


{% block scripts %}

  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'ckeditor/lang/es.js' %}"></script>
<script>
  CKEDITOR.replace( 'editor1' );

  function obtenerContenido() {
     var contenido = CKEDITOR.instances.editor1.getData();
     $.ajax({
      url: 'guardar_personales/',
      method: 'POST',
      data: {
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        contenido: contenido
      },
      success: function(response) {
        console.log('Contenido guardado exitosamente:', response);
        alert('Contenido guardado exitosamente');
      },
      error: function(error) {
        console.error('Error al guardar el contenido:', error);
        alert('Error al guardar el contenido');
      }
    });
  }
</script>
  </script>
  <script src="{% static 'js/index.global.min.js' %}" ></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            navLinks: true,
            selectable: true,
            select: function(arg) {
                var title = prompt('Titulo de la cita:');
                if (title) {
                  var paciente = prompt('Nombre paciente:');
                  if (paciente) {
                    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    $.ajax({
                      url: 'guardar_cita/',
                      type: 'POST',
                      headers: {
                        'X-CSRFToken': csrfToken  
                      },
                      data: {
                          titulo: title, 
                          start: arg.startStr,
                          end: arg.endStr,
                          paciente: paciente
                      },
                      success: function(response) {
                        alert(response.mensaje);
                        calendar.refetchEvents(); 
                        obtenerCitas();
                      },
                      error: function(xhr, status, error) {
                          console.error('Error al guardar el evento:', error);
                      }
                    });
                  }

                }
                calendar.unselect();
            },
            eventClick: function(arg) {
                if (confirm('¿Estás seguro de que deseas eliminar este evento?')) {
                  var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    $.ajax({
                        url: 'eliminar_cita/',
                        type: 'POST',
                        headers: {
                          'X-CSRFToken': csrfToken  
                        },
                        data: {
                            id: arg.event.id
                        },
                        success: function(response) {
                            alert(response.mensaje);
                            arg.event.remove();
                            $('#datos-paciente').attr('id', 'hidden');
                            obtenerCitas();
                        },
                        error: function(xhr, status, error) {
                            console.error('Error al eliminar el evento:', error);
                        }
                    });
                }
            },
            editable: true,
            dayMaxEvents: true,
            events: "obtener_citas/" 
        });

        calendar.render();
    });
</script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  <script>
    function changeClass(boton) { 
      var botones = document.querySelectorAll('.btn');
      botones.forEach(function(botone) {
        botone.classList.remove('active');
      });
      boton.classList.add('active'); 
      
    }
  </script>
  <script>
  function obtenerCitas(){
    $.ajax({
        url: 'obtener_citas/',  
        type: 'GET',
        success: function(response) {
            // Maneja la respuesta y construye el contenido HTML para mostrar todos los pacientes
            var contenidoHTML = '<ul>';
            $.each(response, function(index, cita) {
                console.log(cita.nombre_paciente)
                contenidoHTML += `<li><a href="#foto" onclick="changeClass(this)" class="btn" data-id="${cita.id_paciente }"><i class="bi bi-arrow-right-circle"></i><span>${cita.nombre_paciente} | Prox. cita: ${cita.fecha_inicio} ${cita.hora_inicio}</span></a></li>`;

            });
            contenidoHTML += '</ul>';

            // Actualiza el contenido del elemento "datos-paciente"
            $('#pacientes').html(contenidoHTML);
        },
        error: function(response) {
          console.log('Error:', response);
        }
    });
  }
  $(document).ready(function() {
    // Realiza una solicitud AJAX para obtener las citas de todos los pacientes

    try {
      obtenerCitas()
      obtenerDiario()
    } catch (error) {
      console.log('Error:', error);
    }
    
  });
  </script>
  <script>
    $(document).ready(function() {
        $('#pacientes').on('click', 'a.btn', function(e) {
            var paciente_id = $(this).data('id');
            
            $.ajax({
                type: 'POST',
                url: 'datos_paciente/',
                data: { 
                  'paciente_id': paciente_id,
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function(response) {
                  var foto = response.foto;              
                  var nombre = response.nombre;
                  var edad = response.edad;
                  var sexo = response.sexo;
                  var ocupacion = response.ocupacion;
                  var correo = response.correo;
                  var telefono = response.telefono;
                  var notas_personales= response.notas_personales;
                  var notas_compartidas = response.notas_compartidas;
                  var direccion = response.direccion;
                  var fecha_nacimiento = response.fecha_nacimiento;
                  $('#hidden').removeAttr('id');
                  $('#diario').html(response.diario);
                  $('h2[class="nombre"]').text(nombre);
                  $('p[class="edad"]').text("Edad: "+edad);
                  $('p[class="sexo"]').text("Sexo: "+sexo);
                  $('p[class="correo"]').text("Correo: "+correo);
                  $('p[class="telefono"]').text("Telefono: "+telefono);
                  $('p[class="direccion"]').text("Direccion: "+direccion);
                  if (notas_compartidas) {
                    $('#compartidas').val(notas_compartidas);
                  }else{
                    $('#compartidas').val("");
                  }


                  if (response.foto) {
                    $('#foto').attr('src', 'data:image/jpeg;base64,' + response.foto);
                  }else{
                    $('#foto').hide();
                  }
                  $('#pdf').attr('href', '{% url "paciente_pdf" 0 %}'.replace('0', paciente_id));
                },
                error: function(response) {
                    console.log('Error:', response);
                }
            });
        });
    });
</script>

<script>
  function obtenerDiario() {
    $.ajax({
        url: 'diario_psicologo/',
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            // Rellena el textarea con el contenido del campo del modelo
            CKEDITOR.instances.editor1.setData(data.campo_texto);
        },
        error: function(error) {
            console.error('Error al obtener el contenido:', error);
        }
    });
}
</script>

<script>

  $(document).ready(function() {
    $('#form_compartidas').submit(function(event) {
      event.preventDefault();
      var contenidoCompartidas = $('#compartidas').val(); // Obtener el contenido del textarea
      var paciente_id = $('.btn').data('id');
      $.ajax({
        type: 'POST',
        url: 'guardar_notas/',
        data: {
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
          'contenidoCompartidas': contenidoCompartidas,  // Enviar el contenido del textarea al servidor
          'id': paciente_id
        },
        dataType: 'json',
        success: function(response) {
          alert(response.mensaje);
        },
        error: function(response) {
          console.log('Error:', response);
        }
      });
    });
  });
</script>
{% endblock %}
    
    
    