{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Psicosfera | Psicologo
{% endblock %}


{% block btns %}
<li><a href="{% url 'interfaz' %}#directorio" >Directorio</a></li>
<li><a href="{% url 'interfaz' %}#agenda" >Agenda</a></li>
<li><a href="{% url 'interfaz' %}#diario" >Diario</a></li>
{% endblock %}

{% block contenido %}
<section id="directorio" class="service-details">
  <div class="container">
    <div class="container section-title" data-aos="fade-up">
      <h2>Directorio de Pacientes</h2>
    </div><!-- End Section Title -->
    <div class="row gy-5">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="service-box">
          <div class="container section-title" data-aos="fade-up">
            <h2>Pacientes</h2>
          </div><!-- End Section Title -->
          <div id="myCarousel" class="carousel slide" >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="services-list">
                  {% for paciente in pacientes %}
                  {% csrf_token %}
                  <a href="#datos-paciente" onclick="changeClass(this)" class="btn" data-id="{{ paciente.id }}"><i class="bi bi-arrow-right-circle"></i><span>{{ paciente.nombre }}</span></a>
                  {% endfor %} 
    
                    </div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>     
          </div><!-- End Services List -->
          <div class="service-box">
            <h4>Descargar detalles</h4>
            <div class="download-catalog">
              <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
              <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
            </div>
          </div><!-- End Services List -->
        </div> 
        <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box">
          <img src="" id="foto" alt="foto">
          <h2 class="nombre"></h2>
          <p class="fecha"></p>
          <p class="edad"></p>
          <p class="sexo"></p>
          <p class="ocupacion"></p>
          <p class="correo"></p>
          <p class="telefono"></p>
          <p class="direccion"></p>
          <!-- Agrega otros campos que desees mostrar -->
          <div class="container">
            <div class="swiper ">
              <template class="swiper-config">
                {
                  "speed" : 600,
                  "slidesPerView": "auto",
                  "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
            </template>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="d-flex">
                    <div>
                      <h5>Notas Personales</h5>
                    </div>
                  </div>
                  <form action="" id="form_personales" data-aos="fade-up" data-aos-delay="300" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" id="personales" cols="30" rows="10" ></textarea>
                    <input type="submit" class="btn btn-primary" value="Guardar nota"></input>
                  </form>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="d-flex">
                    <div>
                      <h5>Notas Compartidas</h5>
                    </div>
                  </div>
                  <form action="" id="form_compartidas" data-aos="fade-up" data-id="" data-aos-delay="300" method="post">
                    {% csrf_token %}
                    <textarea  class="form-control" id="compartidas" cols="30" rows="10" ></textarea>
                    <input type="submit" class="btn btn-primary" value="Guardar nota"></input>
                  </form>
                </div>
              </div><!-- End testimonial item -->
            </div>
            <br>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
</section>
        
<section id="agenda" class="service-details">
  <div class="container">  
    <div class="container section-title" data-aos="fade-up">
      <h2>Calendario de citas</h2>
    </div><!-- End Section Title -->
    <div id='calendar'></div>
  </div>
</section>
{% endblock %}


{% block scripts %}
  <script src="{% static 'fullcalendar/dist/index.global.min.js' %}" ></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      initialDate: '2023-01-12',
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      select: function(arg) {
        var title = prompt('Event Title:');
        if (title) {
          calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay
          })
        }
        calendar.unselect()
      },
      eventClick: function(arg) {
        if (confirm('Are you sure you want to delete this event?')) {
          arg.event.remove()
        }
      },
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2023-01-01'
        },
        {
          title: 'Long Event',
          start: '2023-01-07',
          end: '2023-01-10'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2023-01-09T16:00:00'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2023-01-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2023-01-11',
          end: '2023-01-13'
        },
        {
          title: 'Meeting',
          start: '2023-01-12T10:30:00',
          end: '2023-01-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2023-01-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2023-01-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2023-01-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2023-01-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2023-01-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2023-01-28'
        }
      ]
    });

    calendar.render();
  });
  
  </script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  <script>
    function changeClass(boton) { 
      var botones = document.querySelectorAll('.btn');
      botones.forEach(function(botone) {
        botone.classList.remove('active');
      });
      boton.classList.add('active'); 
      
    }
  </script>

  <script>
    $(document).ready(function() {
        $('.btn').click(function() {
            var paciente_id = $(this).data('id');

            var foto = $(this).prevAll('.foto').first();
            
            $.ajax({
                type: 'POST',
                url: 'datos_paciente/',
                data: { 
                  'paciente_id': paciente_id,
                  'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                dataType: 'json',
                success: function(response) {
                  var foto = response.foto;              
                  var nombre = response.nombre;
                  var edad = response.edad;
                  var sexo = response.sexo;
                  var ocupacion = response.ocupacion;
                  var correo = response.correo;
                  var telefono = response.telefono;
                  var diagnostico = response.diagnostico;
                  var tratamiento = response.tratamiento;
                  var direccion = response.direccion;
                  var fecha_nacimiento = response.fecha_nacimiento;
                  $('h2[class="nombre"]').text(nombre);
                  $('p[class="fecha"]').text("Fecha de nacimiento: "+fecha_nacimiento);
                  $('p[class="edad"]').text("Edad: "+edad);
                  $('p[class="sexo"]').text("Sexo: "+sexo);
                  $('p[class="ocupacion"]').text("Ocupacion: "+ocupacion);
                  $('p[class="correo"]').text("Correo: "+correo);
                  $('p[class="telefono"]').text("Telefono: "+telefono);
                  $('p[class="direccion"]').text("Direccion: "+direccion)
                  if (diagnostico ) {
                    $('#compartidas').val(diagnostico);
                  }else{
                    $('#compartidas').val("");
                  }
                  if (tratamiento) {
                    $('#personales').val(tratamiento);
                  }else{
                    $('#personales').val("");
                  }
                  if (response.foto) {
                    $('#foto').attr('src', 'data:image/jpeg;base64,' + response.foto);
                  }
                },
                error: function(response) {
                    console.log('Error:', response);
                }
            });
        });
    });
</script>
<script>
  $(document).ready(function() {
    $('#form_compartidas').submit(function(event) {
      event.preventDefault(); 
      var textareaContent = $('#compartidas').val(); // Obtener el contenido del textarea
      var paciente_id = $('.btn').data('id');
      console.log(paciente_id); 
      $.ajax({
        type: 'POST',
        url: 'guardar_compartidas',
        data: {
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
          'content': textareaContent,  // Enviar el contenido del textarea al servidor
          'id': paciente_id
        },
        dataType: 'json',
        success: function(response) {
          // Actualizar el contenido del textarea con la respuesta del servidor si es necesario
          $('#compartidas').val(response.diagnostico);
          $('.btn').toggleClass(paciente_id);
        },
        error: function(response) {
          console.log('Error:', response);
        }
      });
    });
  });
</script>
{% endblock %}
    
    
    