
{% extends 'baseLogin.html' %}

{% load static %}
    
{% block titulo %}
    Psicosfera | Registro
{% endblock %}

{% block tituloLogin %}
    Registro
{% endblock %}

{% block btnsNav %}
    
{% endblock btnsNav %}
    

{% block login %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">¡Crea una cuenta!</h1>
    </div>
    <form class="user">
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" id="exampleFirstName"
                    placeholder="First Name">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="exampleLastName"
                    placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                placeholder="Email Address">
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user"
                    id="exampleInputPassword" placeholder="Password">
            </div>
            <div class="col-sm-6">
                <input type="password" class="form-control form-control-user"
                    id="exampleRepeatPassword" placeholder="Repeat Password">
            </div>
        </div>
        <a href="{% url 'registro-usuario' %}" class="btn btn-primary btn-user btn-block">
            Registrar cuenta
        </a>
        <hr>
        <a href="index.html" class="btn btn-google btn-user btn-block">
            <i class="fab fa-google fa-fw"></i> Iniciar Sesión con Google
        </a>
        <a href="index.html" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> Iniciar Sesión con Facebook
        </a>
    </form>
    <hr>
    <div class="text-center">
        <a class="small" href="{% url 'reestablecer_contra' %}">¿Olvidaste tu contraseña?</a>
    </div>
    <div class="text-center">
        <a class="small" href="{% url 'login' %}">¿Ya tienes cuenta? Inicia Sesión</a>
    </div>
{% endblock %}


{% block scripts %}
    
{% endblock %}
    