{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Psicosfera | Actividad
{% endblock %}

{% block contenido %}
<section>
  
    <div class="titulo-search">
      <h2>Encuentra a quien necesitas</h2>
    </div>
    
    <div id="search-form" class="row align-items-end">

      <div class="col-md-3">
          <label>¿Qué necesitas?</label>
          <input type="text" placeholder="Especialidad médica, especialista" id="specialty-input" class="form-control" list="autocomplete-results">
          <div id="autocomplete-results-specialty" class="autocomplete-results-esp"></div>
      </div>

      <div class="col-md-3">
          <label>¿En dónde?</label>
              <input type="text" placeholder="Ubicación" id="location-input" class="form-control" list="autocomplete-results">
              <div id="autocomplete-results-location" class="autocomplete-results-loc"></div>
          
      </div>
      <div class="col-md-2">
          <div class="d-grid">
              <button class="btn btn-primary btn-search" onclick="mostrar_contenido()">Buscar</button>
          </div>
      </div>
  </div>

    <div class="titulo-terapia">
      <h3>¿Qué tipo de terapia buscas?</h3>
    </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3 mb-4">
            <div class="button-terapia">
              <button class="btn btn-terapia btn-block bg-terapia-individual btn-toggle">
              </button>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="button-terapia">
              <button class="btn btn-terapia btn-block bg-terapia-parejas btn-toggle">
              </button>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="button-terapia">
              <button class="btn btn-terapia btn-block bg-terapia-familiar btn-toggle">
              </button>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="button-terapia">
              <button class="btn btn-terapia btn-block bg-terapia-grupal btn-toggle">
              </button>
            </div>
          </div>
        </div>
      </div>

      
    <div class="contenedor-mapa-contenido">
        <div class="contenedor-mapa">
          <div class="divisor-2 mapa">
            <div id="map" class="divisor-2"></div>
          </div>
          <div class="divisor-2">
            <div class="card card-small ">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center margen-inferior">
                <img src="{% static 'img/img-user/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                <br>
                <h2>Kevin Anderson</h2>
                <h3>Web Designer</h3>
                <div class="social-links mt-2">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
    
            <div class="card card-small">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="{% static 'img/img-user/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                <br>
                <h2>Kevin Anderson</h2>
                <h3>Web Designer</h3>
                <div class="social-links mt-2">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
    
            <div class="card card-small">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="{% static 'img/img-user/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
                <br>
                <h2>Kevin Anderson</h2>
                <h3>Web Designer</h3>
                <div class="social-links mt-2">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
    
          </div>
        </div>
    </div>
  -->
  <div class="titulo-terapia">
    <h4>¿Eres un profesional y buscas ser parte de la comunidad de Psicosfera?</h4>
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-2">
        <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
            <a class="btn btn-primary" href="{% url 'registro' %}">¡ÚNETE AHORA!</a>
        </div>
    </div>
</div>

</section>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/googleMapsAPI.js' %}" ></script>
  <script src="{% static 'js/ConsultarMapa.js' %}" ></script>
  <script src="{% static 'js/ConsultarPsicologo.js' %}" ></script>
  <script src="{% static 'js/seleccionarOpcion.js' %}" ></script>
  <script src="{% static 'js/expandirPagina.js' %}" ></script>
  <script src="{% static 'js/busqueda-autocompletado.js' %}" ></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}