{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    
{% endblock %}


{% block contenido %}
<section id="service-details" class="service-details">

    <div class="container">

      <div class="row gy-5">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

          <div class="service-box">
            <h4>Notas pacientes</h4>
            <div class="services-list">
              <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Juanito Marquez                  Ult. Cita: 03/03/23</span></a>
              <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Roman Alfredo Alegria Perez               Ult. Cita: 04/03/23</span></a>
              <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Pancho Esquivel             Ult. Cita: 05/03/23</span></a>
              <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Luis Andrade                Ult. Cita: 06/03/23</span></a>
              <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Pablo Motas                 Ult. Cita: 07/03/23</span></a>
            </div>
          </div><!-- End Services List -->

          <div class="service-box">
            <h4>Descargar detalles</h4>
            <div class="download-catalog">
              <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
              <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
            </div>
          </div><!-- End Services List -->

        </div>

        <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
          <h3>Temporibus et in vero dicta aut eius lidero plastis trand lined voluptas dolorem ut voluptas</h3>
          <p>
            Blanditiis voluptate odit ex error ea sed officiis deserunt. Cupiditate non consequatur et doloremque consequuntur. Accusantium labore reprehenderit error temporibus saepe perferendis fuga doloribus vero. Qui omnis quo sit. Dolorem architecto eum et quos deleniti officia qui.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
          </ul>
          <p>
            Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo. Deleniti quam sequi optio iste veniam repellat odit. Aut pariatur itaque nesciunt fuga.
          </p>
          <p>
            Sunt rem odit accusantium omnis perspiciatis officia. Laboriosam aut consequuntur recusandae mollitia doloremque est architecto cupiditate ullam. Quia est ut occaecati fuga. Distinctio ex repellendus eveniet velit sint quia sapiente cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates tenetur nostrum. Eaque iusto cupiditate et totam et quia dolorum in. Sunt molestiae ipsum at consequatur vero. Architecto ut pariatur autem ad non cumque nesciunt qui maxime. Sunt eum quia impedit dolore alias explicabo ea.
          </p>
        </div>

      </div>

    </div>

  </section><!-- End Service-details Section -->
{% endblock %}


{% block scripts %}
    
{% endblock  %}
    
    
    