{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    Psicosfera | Mi Perfil
{% endblock %}

{% block links %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'lightbox/css/lightbox.css' %}" rel="stylesheet">
{% endblock links %}

{% block contenido %}
<section class="section profile">
  <div class="row">
    <div class="col-xl-4">

      <div class="card  mt-5">
        <div class="card-body pt-4 d-flex flex-column align-items-center">
          <img id="foto" src="" alt="Profile" class="fotoPerfil">
          <br>
          <h2 id="user"></h2>
          <h3 id="especialidad2"></h3>
          <div class="social-links mt-2">
            <a href="#" id="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" id="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" id="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" id="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card mt-5">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Descripción</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Ajustes</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar contraseña</button>
            </li>

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">Sobre mí</h5>
              <p class="small fst-italic" id="descripcion"></p>

              <h5 class="card-title">Detalles de la cuenta</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Nombre de usuario</div>
                <p class="col-lg-9 col-md-8" id="user2">{{ user.username }}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Nombre completo</div>
                <p class="col-lg-9 col-md-8" id="nombre">{{ usuario.data.nombre }}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Edad</div>
                <p class="col-lg-9 col-md-8" id="edad">{{edad}}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Especialidad</div>
                <p class="col-lg-9 col-md-8" id="especialidad">{{especialidad}}</p>
              </div>


              <div class="row">
                <div class="col-lg-3 col-md-4 label">Número de teléfono</div>
                <p class="col-lg-9 col-md-8" id="numero" >{{telefono}}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Correo electrónico</div>
                <p class="col-lg-9 col-md-8" id="correo">{{correo}}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Dirección del Consultorio</div>
                <p class="col-lg-9 col-md-8" id="direccion">{{direccion}}</p>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Horario de Atención</div>
                <p class="col-lg-9 col-md-8" id="direccion">{{apertura}} - {{cierre}}</p>
              </div>

            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              <!-- Profile Edit Form -->
              <form id="actualizar" method="post" action=""> 
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imágen de perfil</label>
                  <div class="col-md-8 col-lg-9">
                    <img src="" id="foto2" alt="Profile">
                    <div class="pt-2">
                      <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                      <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre completo</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="fullName" type="text" class="form-control" id="fullName">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="age" class="col-md-4 col-lg-3 col-form-label">Edad</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="age" type="text" class="form-control" id="age">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="age" class="col-md-4 col-lg-3 col-form-label">Especialidad</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="age" type="text" class="form-control" id="especiality">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label">Sobre mí</label>
                  <div class="col-md-8 col-lg-9">
                    <textarea class="form-control" id="descripcion2" style="height: 100px"></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="address" class="col-md-4 col-lg-3 col-form-label">Dirección del Consultorio</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="address" type="text" class="form-control" id="address" >
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="address" class="col-md-4 col-lg-3 col-form-label">Horario de Atención</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="apertura" type="text" class="form-control" id="apertura">
                    <input name="cierre" type="text" class="form-control" id="cierre">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Número de teléfono</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="phone" type="text" class="form-control" id="Phone">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="email" type="email" class="form-control" id="Email" >
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Twitter" class="hide" class="col-md-4 col-lg-3 col-form-label">Perfil de Twitter</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="twitter" type="text" class="form-control" id="Twitter" class="hide">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Facebook" class="hide" class="col-md-4 col-lg-3 col-form-label">Perfil de  Facebook</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="facebook" type="text" class="form-control" id="Facebook" class="hide">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Instagram" class="hide" class="col-md-4 col-lg-3 col-form-label">Perfil de Instagram</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="instagram" type="text" class="form-control" id="Instagram" class="hide">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Linkedin" class="hide" class="col-md-4 col-lg-3 col-form-label">Perfil de Linkedin</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="linkedin" type="text" class="form-control" id="Linkedin" class="hide">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">

              <!-- Settings Form -->
              <form>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Notificaciones de Correo electrónico</label>
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="changesMade" checked>
                      <label class="form-check-label" for="changesMade">
                        Cambios realizados en su cuenta
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="newProducts" checked>
                      <label class="form-check-label" for="newProducts">
                        Información sobre nuevos productos y servicios.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="proOffers">
                      <label class="form-check-label" for="proOffers">
                        Ofertas promocionales y de marketing
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                      <label class="form-check-label" for="securityNotify">
                        Alertas de seguridad
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
              </form><!-- End settings Form -->

            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>

                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="password" type="password" class="form-control" id="currentPassword">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva Contraseña</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="newpassword" type="password" class="form-control" id="newPassword">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Repita la Nueva Contraseña</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                </div>
              </form><!-- End Change Password Form -->

            </div>

          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
 
{% block scripts %}
  <link href="{% static 'lightbox/js/lightbox.js' %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#actualizar').submit(function(event) {
        event.preventDefault();
        var datos = {};
        esPsicologo = $('#user').attr('data');
        datos['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
        datos["nombre"] = $("#fullName").val();
        datos["numero"] = $("#Phone").val();
        datos["correo"] = $("#Email").val();
        
        if (esPsicologo == 1) {
          datos["facebook"] = $("#Facebook").val();
          datos["instagram"] = $("#Instagram").val();
          datos["linkedin"] = $("#Linkedin").val();
          datos["twitter"] = $("#Twitter").val();
          datos["psicologo"] = 1;
        } else {
          datos["psicologo"] = 0;
        }
        $.ajax({
          type: 'POST',
          url: '{% url "guardar_datos" %}',
          data: datos,
          dataType: 'json',
          success: function(response) {
            alert(response.mensaje);
          },
          error: function(response) {
            console.log('Error:', response);
          }
        });
      });
    });
  </script>
  
{% endblock %}
