{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Psicosfera | Cuestionario de Registro
{% endblock %}

{% block btns %}

{% endblock %}

{% load bootstrap4 %}

{% block links %}
<!-- Font-->
<link href="{% static 'css/montserrat-font.css' %}" rel="stylesheet">
<link href="{% static 'css/material-design-iconic-font.min.css' %}" rel="stylesheet">

<!-- Main Style Css -->
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock links %}

{% block contenido %}
<section class="bg-gradient-primary">
    <div class="page-content">
        <div class="wizard-v10-content">
            <div class="wizard-form">
                <div class="wizard-header">
                    <h3>Datos del Psicólogo</h3>
                </div>
                <form class="form-register" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="form-total">
                        <!-- SECTION 1 -->
                        <h2>1</h2>
                        <section class="trasparente">
                            <div class="inner">
                                <div class="hidden">
                                    <div class="form-holder form-holder-2">
                                        {{ form.user }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.cedula.label_tag }}
                                        {{ form.cedula }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.fecha_nacimiento.label_tag }}
                                        <input type="date" class="form-control"
                                            id="{{ form.fecha_nacimiento.id_for_label }}"
                                            name="{{ form.fecha_nacimiento.name }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.edad.label_tag }}
                                        {{ form.edad }}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- SECTION 2 -->
                        <h2>2</h2>
                        <section class="trasparente">
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.sexo.label_tag }}
                                        {{ form.sexo }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.especialidad.label_tag }}
                                        {{ form.especialidad }}
                                        <div id="autocomplete-results-specialty" class="autocomplete-results-form"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                                        <input type="tel" class="form-control" id="{{ form.telefono.id_for_label }}"
                                            name="{{ form.telefono.name }}" pattern="[0-9]{10,15}">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- SECTION 3 -->
                        <h2>3</h2>
                        <section class="trasparente">
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label for="{{ form.certificado.id_for_label }}">Certificado:</label>
                                        <input type="file" class="form-control" id="{{ form.certificado.id_for_label }}"
                                            name="{{ form.certificado.name }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.institucion_otorgamiento.label_tag }}
                                        {{ form.institucion_otorgamiento }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.anio_obtencion.label_tag }}
                                        {{ form.anio_obtencion }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.metodo_pago.label_tag }}
                                        {{ form.metodo_pago }}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- SECTION 4 -->
                        <h2>4</h2>
                        <section class="trasparente">
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.enlace_pagina_web.label_tag }}
                                        <input type="url" class="form-control"
                                            id="{{ form.enlace_pagina_web.id_for_label }}"
                                            name="{{ form.enlace_pagina_web.name }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.enlace_facebook.label_tag }}
                                        <input type="url" class="form-control"
                                            id="{{ form.enlace_facebook.id_for_label }}"
                                            name="{{ form.enlace_facebook.name }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.enlace_instagram.label_tag }}
                                        <input type="url" class="form-control"
                                            id="{{ form.enlace_instagram.id_for_label }}"
                                            name="{{ form.enlace_instagram.name }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        {{ form.enlace_linkedin.label_tag }}
                                        <input type="url" class="form-control"
                                            id="{{ form.enlace_linkedin.id_for_label }}"
                                            name="{{ form.enlace_linkedin.name }}">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- SECTION 5 -->
                        <h2>5</h2>
                        <section class="trasparente">
                            <div class="inner">
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label for="{{ form.foto_perfil.id_for_label }}">Foto de Perfil:</label>
                                        <input type="file" class="form-control" id="{{ form.foto_perfil.id_for_label }}"
                                            name="{{ form.foto_perfil.name }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label for="{{ form.identificacion_oficial.id_for_label }}">Identificación
                                            Oficial:</label>
                                        <input type="file" class="form-control"
                                            id="{{ form.identificacion_oficial.id_for_label }}"
                                            name="{{ form.identificacion_oficial.name }}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder form-holder-2">
                                        <label for="{{ form.curriculum.id_for_label }}">Curriculum Vitae:</label>
                                        <input type="file" class="form-control" id="{{ form.curriculum.id_for_label }}"
                                            name="{{ form.curriculum.name }}">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

¿{% block scripts %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.steps.js' %}"></script>
<script src="{% static 'js/main2.js' %}"></script>
<script src="{% static 'js/busqueda-autocompletado.js' %}" ></script>
{% endblock %}